# Ignore virtual environments
env/
venv/
tf-env/
tensorflow_env/


# Ignore Python cache
__pycache__/
*.pyc

# Ignore model and dataset files
*.h5
*.pkl
*.csv
dataset/
model/
 

# Ignore IDE folders
.vscode/
.idea/
